#ifndef STATIC_DIMENSION_{{ dim.Dimension|upper }}_IMPL_H
#define STATIC_DIMENSION_{{ dim.Dimension|upper }}_IMPL_H

#include <type_traits>
#include <tuple>

#include "../../base_dimension_impl.h"

namespace dimension
{
   /// @brief Represents the primary unit for {{ dim.Dimension }}.
   struct {{ dim.BaseUnit }};

   using primary_{{ dim.Dimension }} = {{ dim.BaseUnit }};

   /// @brief {{ dim.Dimension }} type tag.
   struct {{ dim.Dimension }}Type {
      using primary = primary_{{ dim.Dimension }};
   };

   /// @brief Concept: a valid {{ dim.Dimension }} unit.
   template<typename T>
   concept is_{{ dim.Dimension }}_unit =
      is_unit<T> && std::is_same_v<unit_dimension_t<T>, {{ dim.Dimension }}Type>;

   /// @brief Concept: a {{ dim.Dimension }} dimension (exactly one {{ dim.Dimension }} unit after simplification).
   template<typename T>
   concept is_{{ dim.Dimension }} =
      std::tuple_size_v<simplified_units_t<typename T::units>> == 1 &&
      is_{{ dim.Dimension }}_unit<typename std::tuple_element_t<0, simplified_units_t<typename T::units>>::unit>;

   /// @brief Get a {{ dim.Dimension }} object in unit T.
   template<is_{{ dim.Dimension }}_unit T, is_{{ dim.Dimension }} DimType>
   constexpr typename DimType::rep get_{{ dim.Dimension | lower }}_as(DimType obj)
   {
      return get_dimension_as<unit_exponent<T>>(obj);
   }

   template<typename... Ts>
   class {{ dim.Dimension }};

   /// @brief {{ dim.Dimension }} dimension type.
   template<rep_type Rep, is_{{ dim.Dimension }}_unit Unit, is_coefficient... Cs>
   class {{ dim.Dimension }}<Rep, Unit, Cs...> : public base_dimension_impl<Rep, unit_exponent<Unit>, Cs...>
   {
      using impl = base_dimension_impl<Rep, unit_exponent<Unit>, Cs...>;

   public:
      /// @brief Default constructs to zero.
      constexpr {{ dim.Dimension }}() : impl(0.0) {}

      /// @brief Construct with a numeric value.
      explicit constexpr {{ dim.Dimension }}(double val) : impl(val) {}

      // perfect-forward ctor so factory can pass symbols
      template<typename V, is_coefficient... Ds>
      requires std::is_constructible_v<Rep, V>
      explicit constexpr {{ dim.Dimension }}(V&& v, Ds... ds)
         : impl(static_cast<Rep>(std::forward<V>(v)), ds...) {}

      template<is_coefficient... Ds>
      requires std::same_as<std::tuple<Cs...>, std::tuple<Ds...>>
      // cppcheck-suppress noExplicitConstructor
      constexpr {{ dim.Dimension }}(const base_dimension_impl<Rep, unit_exponent<Unit>, Ds...>& src)
         : impl(src) {}

      /// @brief Construct from another base_dimension of same {{ dim.Dimension }}.
      template<typename... Ts>
      requires is_{{ dim.Dimension }}<base_dimension_impl<Rep, Ts...>>
      // Implicit conversion between same-dimension types is intentional.
      // cppcheck-suppress noExplicitConstructor
      constexpr {{ dim.Dimension }}(const base_dimension_impl<Rep, Ts...>& base)
         : impl(get_dimension_as<unit_exponent<Unit>>(base)) {}
   };

   template<is_{{ dim.Dimension }}_unit U, typename Rep, is_coefficient... Cs>
   requires (!is_coefficient<Rep>)
   [[maybe_unused]]
   constexpr auto make_{{ dim.Dimension }}(Rep value, Cs... coeffs)
   {
      ignore_unused(coeffs...);
      return {{ dim.Dimension }}<Rep, U, Cs...>(value);
   }

   template<is_{{ dim.Dimension }}_unit U, is_coefficient... Cs>
   [[maybe_unused]]
   constexpr auto make_{{ dim.Dimension }}(Cs... coeffs)
   {
      ignore_unused(coeffs...);
      return {{ dim.Dimension }}<double, U, Cs...>(1.0);   // 1 × coeffs
   }

   template<is_{{ dim.Dimension }}_unit Unit, is_coefficient... Cs>
   class {{ dim.Dimension }}<Unit, Cs...> : public {{ dim.Dimension }}<double, Unit, Cs...>
   {
   public:
      using {{ dim.Dimension }}<double, Unit, Cs...>::{{ dim.Dimension }};
   };

   /// @brief Deduction guides
   template<is_{{ dim.Dimension }} Dim>
   {{ dim.Dimension }}(Dim) -> {{ dim.Dimension }}<
      typename Dim::rep,
      simplified_unit_filter<{{ dim.Dimension }}Type, typename Dim::units>>;

   template<rep_type Rep, is_{{ dim.Dimension }}_unit Unit, is_coefficient... Cs>
   {{ dim.Dimension }}(const {{ dim.Dimension }}<Rep, Unit, Cs...>&)
      -> {{ dim.Dimension }}<Rep, Unit, Cs...>;

   template<rep_type R, is_{{ dim.Dimension }}_unit U, is_coefficient... Cs>
   {{ dim.Dimension }}(base_dimension_impl<R, unit_exponent<U>, Cs...>)
      -> {{ dim.Dimension }}<R, U, Cs...>;
}

#endif // STATIC_DIMENSION_{{ dim.Dimension|upper }}_IMPL_H
